<%- include("../partials/header") -%>

<section class="main__modal_add">
        

    <article class="main__add">

        <h2 class="add__title">CREAR NUEVO ITEM</h2>

        <form class="add__form" action="/admin/create" method="POST" enctype="multipart/form-data">

            <% items.forEach((item) => { %>

                    <label class="add__form_label name">Nombre del producto:
                        <input type="text" class="add__form_input" value="<%= item.product_name %>"> 
                    </label>

            <% }) %>

            <% category.forEach((item) => { %>
            

                    <label class="add__form_label categoria" for="categoria">Categoría:
                        <select class="add__form_input" name="categoria" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                                <option value=""><%= item.category_name %></option>
                        </select>
                    </label>

            <% }) %>

            
            <label class="add__form_label licencia" for="licence">Licencia:
                <select class="add__form_input" name="licence" required>
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <% licence.forEach((item) => { %>
                                <option value=""><%= item.licence_name %></option>
                    <% }) %>
                        </select>
                    </label>

            <% items.forEach((item) => { %>
                    
                    <label class="add__form_label message">
                        <textarea class="add__form_input" value="">
                            <%= item.product_description %>
                        </textarea>
                    </label>
                    
                    <label class="add__form_label sku">SKU:
                        <input type="text" class="add__form_input" size="10" value="<%= item.sku %>">
                    </label>
                    
                    <label class="add__form_label price">Precio:
                        <input type="text" class="add__form_input" value="<%= item.price %>" size="7">
                    </label>
                    
                    <label class="add__form_label stock">Stock:
                        <input type="text" class="add__form_input" value="<%= item.stock %>" size="1">
                    </label>
                    
                    <label class="add__form_label descuentos">Descuento:
                        <input type="text" class="add__form_input" value="<%= item.disconunt %>" size="5">
                    </label>
                    
                    <label class="add__form_label cuotas">Cuotas:
                        <select class="add__form_input">
                            <option value=""><%= item.dues %></option> 
                        </select>
                    </label>

                    <label class="add__form_label image">Imágenes:
                        <input type="file" accept="image/png, image/jpeg" class="add_form_input image">
                    </label>

                    <input type="button" class="add__from_input"  value="Editar Producto">

                    <input type="button" class="add__from_input" value="Limpiar">
            
            <% }) %>
            
        </form>


    </article>
</section>

