<%- include("../partials/header") %>

<main class="main__about">

    <section class="about__img">
        <img src="../../../static/img/productos/vulpix-1.png" alt="">
    </section>

    <section class="about__section">
        
        <h2 class="about__section_title">Contactanos</h2>

        <h3 class="about__section_subtitle">Dejamos tu consulta y pronto nos podenos en contacto contigo</h3>
        
        <form class="contact__form" action="/contact/" method="POST">

            <label class="contact__form_label" for="name">Nombre:
                <% if(typeof valores == "undefined" ) {%>
                    <input type="text" class="contact__form_input" placeholder="Adrian" id="nameContact" name="name" >
                <% } else {%>
                    <input type="text" class="contact__form_input" id="nameContact" name="name" value="<%= valores.name%>" >
                <%}%>
            </label>

            <label class="contact__form_label" for="subname">Apellido:
                <% if(typeof valores == "undefined" ) {%>
                    <input type="text" class="contact__form_input" placeholder="Alvarez" id="subnameContact" name="subname">
                <% } else {%>
                    <input type="text" class="contact__form_input" id="subnameContact" name="subname" value="<%= valores.subname%>">
                <%}%>
            </label>

            <label class="contact__form_label" for="email">Email :
                <% if(typeof valores == "undefined" ) {%>
                    <input type="Email" class="contact__form_input" placeholder="julianalvarez@gmail.com" id="emailContact" name="email">
                <% } else {%>
                    <input type="Email" class="contact__form_input" placeholder="julianalvarez@gmail.com" name="email" value="<%= valores.email%>">
                <%}%>

            </label>

            <label class="contact__form_label" for="message">Mensaje:
                <input type="text" class="contact__form_input" placeholder="Escribe acá tu mensaje" id="messageContact" name="message">
            </label>

            <input class="contact__form_btn" type="submit" value="ENVIAR" id="btnConta">
            
        </form>

        <% if(typeof validaciones != "undefined") {%>
            <div class="error_validation slide-bottom" >
                <% validaciones.forEach((validacion, i) =>{ %>
                    <strong class="validationText <%= i %>" id="validationText"> <%= validacion.msg %> 
                        <box-icon name='x' color="#fff" class="closeError"></box-icon> 
                    </strong>
                <% })%>
            </div>
        <% }%>

    </section>

</main>

<%- include("../partials/footerUnic") %>