<%- include("../partials/header") %>

<main class="main__about">

    <section class="about__img">
        <img src="../../../static/img/productos/snape-patronus-1.png" alt="">
    </section>

    <section class="about__section">
        <h1 class="about__section_title login_title">INGRESAR A MI CUENTA</h1>

        <form class="login__form" action="/login/" method="POST" enctype="application/x-www-form-urlencoded">              

            <label class="login__form_label" for="email">EMAIL:
                <% if(typeof valores == "undefined" ) {%>

                    <input type="text" class="login__form_input" id="loginEmail" placeholder="johndoe@correo.com" name="email" >
                <% } else {%>
                    <input type="text" class="login__form_input" id="loginEmail" placeholder="johndoe@correo.com" name="email" value="<%= valores.email %>">
                <%}%>
            </label>
            
            <label class="login__form_label" for="password">CONTRASEÑA:
                <input type="password"  class="login__form_input" 
            id="loginPassword" placeholder="● ● ● ● ● ● ● ● ●"  name="password">
            </label>
            
            <article class="login__form_article">

                <input type="submit" class="login__form_article_ingresar" value="Ingresar" id="btnIngresar">
                                
                <label  class="login__form_article_label">
                    <input type="checkbox"  class="login__article_input" id="ingresar__checkbox"> Recordarme
                </label>

            </article>

            <span class="login__form_recupero">Olvidé mi contraseña</span>
        </form>


    </section>

    <% if(view.isLogged == "undefined") { %>
        <article class="isloggedNone" >
            
        </article>
    <% } else if(!view.isLogged) {%>
        <article class="islogged" >
            <h1>El email o contraseña no son correctos</h1>
        </article>
    <%}%>

    <% if(typeof validaciones != "undefined") {%>
        <div class="error_validation slide-bottom" >
            <% validaciones.forEach((validacion, i) =>{ %>
                <strong class="validationText <%= i %>" id="validationText"> <%= validacion.msg %> 
                    <box-icon name='x' color="#fff" class="closeError"></box-icon> 
                </strong>
            <% })%>
        </div>
    <% }%>
</main>

<%- include("../partials/footerUnic") -%>